######################
# Node
######################
/node/
node_tmp/
node_modules/
npm-debug.log.*
/.awcache/*
/.cache-loader/*

######################
# Pycharm
######################
.idea/
/__pycache__/

.git/
/venv/
/yourthoughts/htmlcov/
/yourthoughts/.pytest_cache/
/yourthoughts/.coverage
/yourthoughts/.cache
/yourthoughts/db.sqlite3