ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
    color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 20px;
}

.navbar {
  margin-bottom: 5%;
}

.navbar-brand {
  font-size: 25px; /* Adjust size as needed */
  margin-right: auto !important;
}

.nav-link {
  font-size: 20px; /* Adjust size as needed */
  margin-left: auto !important;
}

/*div{*/
/*    background-color: #0f0f0f;*/
/*    color: #FFFFFF;*/
/*}*/